.search_btn {
    width: var(--search-button-with);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    border-bottom-right-radius: var(--search-border-radius);

    &:hover {
        background: rgba(22, 24, 35, .03);
        cursor: pointer;
    }

    &:active {
        background: rgba(22, 24, 35, .06)
    }
}

.search,
.search_result {
    width: 361px;
}

.search {

    height: var(--search-height);
    background-color: rgba(22, 24, 35, .06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        height: 100%;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown)~.search_btn {
        color: black;
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        top: var(--search-top-spacer);
        right: 52px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

}

.search_title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
}

.search_close,
.search_loading {
    position: absolute;
    right: calc(var(--search-button-with) + 10px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 1);
}